@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
body {
    margin: 0;
    background: #1C1C1C;
}
.fp-viewing-section1 #fp-nav ul li a span {
    background: red !important;
}
.fp-viewing-section2 #fp-nav ul li a span {
    background: blue !important;
}

.customBorder {
    border: 3px solid white;
    display: flex;
    align-items: center;
    width: 15vh;
    justify-content: center;
    border-radius: 12vw;
    font-size: 2vh;
}
.drop {
    /* text-shadow: 0 0.5vh 0.5vh #000000; */
    /* font-family: "Gloock", serif; */
    /* text-shadow: 2px 2px 2px black; */
    position: relative;
    font-weight: 700;
    letter-spacing: 0.5vh;
    text-transform: uppercase;
    color: transparent;

    -webkit-text-stroke: 0.2vh rgb(255, 255, 255);

    transition: 1s;
}

@media (min-width: 640px) {
    .drop {
        -webkit-text-stroke: 0.3vh rgb(31, 31, 31);
    }
}
.midd {
    display: flex;
    justify-content: center;
    place-items: center;
}
.navMD {
    display: flex;
    position: absolute;
    /* background-color: #242424; */
    background: rgba(117, 117, 117, 0.48);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(117, 117, 117, 0.45);
    width: 100%;
    z-index: 2;
    
    justify-content: center;
    place-items: center;

    transition: 1s;
}
#top {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3vh;
    font-weight: 600;
    height: 10%;
    color: white;
    z-index: 11;
    
}
.drop::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    color: white;
    overflow: hidden !important;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.drop:hover::before {
    width: 100%;
    font-size: 12vh;
}
.drop:hover {
    font-size: 12vh;
}
body {
    scroll-behavior: smooth;
}
.backToTop {
    transition: 1s;
}
#Home {
    background-image: url("../images/background1555.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5%;
}

.hero {
    position: absolute;
    top: 60%;
    left: 10%;
}

.hero span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    font-size: 12vh;
    line-height: 11vh;
    font-family: "Gloock", serif;
    text-shadow: 2px 2px 2px black;
}
.heroSM {
    position: absolute;
    top: 15%;
    right: 0%;
}
.menu {
    top: 51%;
}

.heroSM span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    font-size: 6vh;
    line-height: 5vh;
    font-weight: 800;
    /* font-family: "Gloock", serif; */
    text-shadow: 2px 2px 2px black;
}

#work {
    margin: 0rem;
    overflow: hidden;
}
.image-track{
    width: 40vmin;
   
    height: 56vmin;
    object-fit: cover;
    object-position: 0% 50%;
}

.image-track {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}
.image-track > img {
    pointer-events: none;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    
  }
  .workTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6vh;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    /* font-family: "Gloock", serif; */
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .workHero {
    position: absolute;
    font-size: 6vh;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    /* font-family: "Gloock", serif; */
    text-align: left;
    width: 100%;
    z-index: 1;
    color: white;
    left: 0;
    transform: translate(-100%, 50%);
  }
  .workBody {
    position: absolute;
    font-size: 3vh;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    /* font-family: "Gloock", serif; */
    text-align: left;
    width: 100%;
    z-index: 1;
    color: white;
    left: 0;
    top: 12vh;
    transform: translate(-98%, 0%);
  }
  .workButton {
    position: absolute;
    font-size: 2.5vh;
    font-weight: 500;
    /* text-shadow: 2px 2px 2px black; */
    box-shadow: 2px 2px 2px black;
    background-color: white;
    /* font-family: "Gloock", serif; */
    text-align: left;
    padding: 2vh;
    z-index: 1;
    color: black;
    left: 0;
    top: 28vh;

    transform: translate(-40vh, 0%);
  }